<div class="dashboard-menu">
  <div class="component_add-margin">

    <div class="menu-items_display">
      <div class="big-cercle cercle_not_selected"></div>
      <p>Jean Dujardin</p>
    </div>

    <div class="section-divider"></div>

    <nav>
      <div class="menu-items_display nav-items_display">
        <div class="small-cercle cercle_selected"></div>
        <p class="nav-items_selected">Home</p>
      </div>
      <div class="menu-items_display nav-items_display">
        <div class="small-cercle cercle_not_selected"></div>
        <p>Récompenses</p>
      </div>
      <div class="menu-items_display nav-items_display">
        <div class="small-cercle cercle_not_selected"></div>
        <p>Badges</p>
      </div>
    </nav>

  </div>
</div>
