<div class="dashboard-process">
  <div class="component_add-margin">
    <h1> Bienvenue </h1>
    <h3 class="text_dark-grey-color">Lorem Ipsum</h3>
    <div class="process-container">
      <div class="container-cercles">
        <app-progress-cercle [caption]="'Lorem Ipsum dolor sit'"
                             [colorBootstrapClass]="'yellow'"
                             [progressbarClass]="'progress-bar'"
                             [starColor]="'yellow-star'"
                             [maincercleColor]="'main-cercle_active'"></app-progress-cercle>

        <app-progress-cercle [caption]="'Lorem Ipsum dolor sit'"
                             [starColor]="'empty-star'"
                             [maincercleColor]="'main-cercle_selected'"></app-progress-cercle>

        <app-progress-cercle [caption]="'Lorem Ipsum dolor sit'"
                             [starColor]="'empty-star'"
                             [maincercleColor]="'main-cercle_not-selected'"></app-progress-cercle>

      </div>
    </div>

    <h3 class="text_dark-grey-color">Lorem Ipsum</h3>
    <div class="process-container">
      <div class="container-cercles">
        <app-progress-cercle [caption]="'Lorem Ipsum dolor sit'"
                             [starColor]="'empty-star'"
                             [maincercleColor]="'main-cercle_disabled'"
                             [textColor]="'text-disabled'"></app-progress-cercle>

      </div>
    </div>

    <h3 class="text_dark-grey-color">Lorem Ipsum</h3>
    <div class="process-container">
      <div class="container-cercles">
        <app-progress-cercle [caption]="'Lorem Ipsum dolor sit'"
                             [starColor]="'empty-star'"
                             [maincercleColor]="'main-cercle_disabled'"
                             [textColor]="'text-disabled'"></app-progress-cercle>
        <app-progress-cercle [caption]="'Lorem Ipsum dolor sit'"
                             [starColor]="'empty-star'"
                             [maincercleColor]="'main-cercle_disabled'"
                             [textColor]="'text-disabled'"></app-progress-cercle>

      </div>
    </div>

  </div>
</div>





