:root {
  --font : LotaGrotesqueAlt1, "Lota Grotesque Alt 1", Roboto, "Helvetica Neue", sans-serif;
  --screen-color :  #F0EDF1;
  --primary-color : #472759;
  --secondary-color : #FFD900;

  --other-color : #594067;

  --selected-color: #2B1537;
  --hover-color: #79597C;
  --not-selected-color: #472759;
  --disabeld-color: #AA98AC;
  --light-color : #E4DFE6;
  --citron : #FFD900;
  --corail : #E64434;
  --lagon : #00AA9C;
  --mandarine : #ff9037;
  --white : #ffffff;
  --black : #000000;
  --dark-grey : #666666;
}
