<div class="dashboard-informations">
  <div class="component_add-margin">

    <h2>Lorem ipsum dolor sit amet ?</h2>
    <div class="section-divider"></div>
    <h3 class="text_dark-grey-color">Lorem ipsum :</h3>
    <p class="text_dark-grey-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id libero ac dui laoreet varius ac ut velit.
      Phasellus auctor ut leo pharetra sagittis. Praesent sed ante ut nisl pulvinar semper. Nam nec egestas dolor. </p>
    <div class="informations-start-button_style">
    <app-button [caption]="'Lorem'"></app-button>
  </div>
  </div>
</div>
